<a asp-controller="DisasterData" asp-action="CreateGeology"><i class="glyphicon glyphicon-plus"></i><span>添加时刻灾害数据：地质灾害</span></a>
<table class="table">
    <thead>
        <tr>
            <th style="width:4%;">序号</th>
            <th style="width:8%;">时间</th>
            <th style="width:5%;">级别</th>
            <th style="width:8%;">经度(°)</th>
            <th style="width:8%;">维度(°)</th>
            <th style="width:8%;">伤亡(人)</th>
            <th style="width:8%;">损失(万元)</th>
            <th style="width:8%;">范围(公顷)</th>
            <th style="width:13%;">灾害类型</th>
            <th style="width:13%;">参考地点</th>
            <th style="width:13%;">详情</th>
            <th style="width:4%;">操作</th>
        </tr>
    </thead>
    <tbody>
        @{
            var i = 1;
            var count = 0;
            @foreach (var geologytime in ViewBag.geologytime)
            {
        <tr>
            <td class="t_center">@i</td>
            <td style="text-align:center;"> @DateTime.Parse(@geologytime.geologytime.ToString()).ToString("yyyy-MM-dd HH:mm:ss")  @*@crop.userID*@</td>
            <td>@geologytime.geologylevel</td>
            <td>@geologytime.geologylogitude</td>
            <td>@geologytime.geologydimension</td>
            <td>@geologytime.geologycasualty</td>
            <td>@geologytime.geologyloss</td>
            <td>@geologytime.geologyarea</td>
            <td class="newsInfo" style="text-align:justify; text-align-last:left;">
                <div class="newInfoTruncation">@geologytime.geologystyle</div>
                <span>@geologytime.geologystyle</span>
            </td>
            <td class="newsInfo" style="text-align:justify; text-align-last:left;">
                <div class="newInfoTruncation">@geologytime.geologyplace</div>
                <span>@geologytime.geologyplace</span>
            </td>
            <td class="newsInfo" style="text-align:justify; text-align-last:left;">
                <div class="newInfoTruncation newInfoTruncation3" id="boxId">@Html.Raw(System.Net.WebUtility.UrlDecode(@geologytime.geologydetails))</div>
                <span>@Html.Raw(System.Net.WebUtility.UrlDecode(@geologytime.geologydetails))</span>
            </td>
            <td>
                <a asp-controller="DisasterData" asp-action="EditGeology" asp-route-id="@geologytime.ID">编辑</a>
                <a asp-controller="DisasterData" asp-action="DeleteGeology" asp-route-id="@geologytime.ID">删除</a>
            </td>
        </tr>
                i++;
                count = i - 1;
            }
            @*@count;*@
        }
    </tbody>
</table>
