<a asp-controller="DisasterData" asp-action="CreateFlood"><i class="glyphicon glyphicon-plus"></i><span>添加时刻灾害数据：洪水灾害</span></a>
<table class="table">
    <thead>
        <tr>
            <th style="width:4%;">序号</th>
            <th style="width:8%;">时间</th>
            <th style="width:5%;">级别</th>
            <th style="width:8%;">经度(°)</th>
            <th style="width:8%;">维度(°)</th>
            <th style="width:8%;">伤亡(人)</th>
            <th style="width:8%;">损失(万元)</th>
            <th style="width:8%;">范围(公顷)</th>
            <th style="width:13%;">灾害类型</th>
            <th style="width:13%;">参考地点</th>
            <th style="width:13%;">详情</th>
            <th style="width:4%;">操作</th>
        </tr>
    </thead>
    <tbody>
        @{
            var i = 1;
            var count = 0;
            @foreach (var floodtime in ViewBag.floodtime)
            {
        <tr>
            <td class="t_center">@i</td>
            <td style="text-align:center;"> @DateTime.Parse(@floodtime.floodtime.ToString()).ToString("yyyy-MM-dd HH:mm:ss")  @*@crop.userID*@</td>
            <td>@floodtime.floodlevel</td>
            <td>@floodtime.floodlogitude</td>
            <td>@floodtime.flooddimension</td>
            <td>@floodtime.floodcasualty</td>
            <td>@floodtime.floodloss</td>
            <td>@floodtime.floodarea</td>
            <td class="newsInfo" style="text-align:justify; text-align-last:left;">
                <div class="newInfoTruncation">@floodtime.floodstyle</div>
                <span>@floodtime.floodstyle</span>
            </td>
            <td class="newsInfo" style="text-align:justify; text-align-last:left;">
                <div class="newInfoTruncation">@floodtime.floodplace</div>
                <span>@floodtime.floodplace</span>
            </td>
            <td class="newsInfo" style="text-align:justify; text-align-last:left;">
                <div class="newInfoTruncation newInfoTruncation3" id="boxId">@Html.Raw(System.Net.WebUtility.UrlDecode(@floodtime.flooddetails))</div>
                <span>@Html.Raw(System.Net.WebUtility.UrlDecode(@floodtime.flooddetails))</span>
            </td>
            <td>
                <a asp-controller="DisasterData" asp-action="EditFlood" asp-route-id="@floodtime.ID">编辑</a>
                <a asp-controller="DisasterData" asp-action="DeleteFlood" asp-route-id="@floodtime.ID">删除</a>
            </td>
        </tr>
                i++;
                count = i - 1;
            }
            @*@count;*@
        }
    </tbody>
</table>
